extends /assets/tmpl/moc/_layout.pug

block contents
    .c-productDetail
        .c-productDetail_head 商品名: フォーク
        .c-productDetail_body
            span.c-productDetail_bodyStandard 規格１
            span.c-productDetail_bodyMaterial 材質 [表示名: 材質]
        .c-productDetail_body
            span.c-productDetail_bodyStandard 規格２
            span.c-productDetail_bodySize サイズ [表示名: 靴サイズ]
    .c-procuctList

