extends /assets/tmpl/moc/layout/_layout-2col.pug
block primaryContents
    .c-users
        table.c-usersTable
            tr.c-usersTable_row
                th.c-usersTable_head
                    input(type='checkbox')
                th.c-usersTable_head 会員ID
                th.c-usersTable_head 会員名
                th.c-usersTable_head 電話番号
                th.c-usersTable_head メールアドレス
                th.c-usersTable_head &nbsp;
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
            tr.c-usersTable_row
                td.c-usersTable_data
                    input(type='checkbox')
                td.c-usersTable_data 1
                td.c-usersTable_data.c-usersTable_name
                    a(href='#') 山田 はなこ
                td.c-usersTable_data 06-6666-6666
                td.c-usersTable_data witchdoktor@gmail.com
                td.c-usersTable_data.c-usersTable_icon
                    a(href='#')
                        .fa.fa-times
        .c-paginate
            a(href='#').c-paginate_list.is-active 1
            a(href='#').c-paginate_list 2
            a(href='#').c-paginate_list 3
            a(href='#').c-paginate_list 4