extends /assets/tmpl/moc/layout/_layout-3col.pug
block pageTitle
    +b.c-pageTitle
        +e.titles
            +e.H2.title 商品登録
            +e.SPAN.subTitle 商品管理

block primaryContents
    .c-block
        .c-block__heading
            .c-block__titles
                h2.c-block__title 基本設定
                .c-block__toolTip
                    i.fa.fa-question-circle
            .c-block__toggle
                i.fa.fa-angle-up
        .c-block__contents
            form
                .c-form
                    .c-form__label
                        label
                            span.c-form__labelTitle 商品ID
                            .c-form__labelToolTip
                                i.fa.fa-question-circle
                            .c-form__labelRequired 必須
                    .c-form__input
                        input(type="text")

block secondaryContents
    +b.c-block
        +e.heading
            +e.titles
                +e.H2.title カテゴリ
                +e.toolTip
                    i.fa.fa-question-circle
            +e.toggle
                i.fa.fa-angle-up
        +e.contents
            form.c-search
                input.c-searchForm(type='text' placeholder='カテゴリ検索')
                button.c-searchBtn
                    i.fa.fa-search
                .c-category
                    ul
                        li
                            input(type='checkbox')
                            label.c-categoryLayer1 カテゴリA
                        li
                            input(type='checkbox')
                            label.c-categoryLayer2 ├ カテゴリA-a
                        li
                            input(type='checkbox')
                            label.c-categoryLayer2 ├ カテゴリA-b
                        li
                            input(type='checkbox')
                            label.c-categoryLayer2 └ カテゴリA-c
                        li
                            input(type='checkbox')
                            label.c-categoryLayer3 └ カテゴリA-c-2
                        li
                            input(type='checkbox')
                            label.c-categoryLayer2 └ カテゴリA-b
                a.c-categoryBtn(href='#') カテゴリの追加・編集
    +b.c-block
        +e.heading
            +e.titles タグ
                +e.toolTip
                    i.fa.fa-question-circle
            +e.toggle
                i.fa.fa-angle-up
        +e.contents
            .c-tag
                .c-tag_black オススメ
                .c-tag_blue 限定品
                .c-tag_black 新入荷
                .c-tag_blue 値下げしました
                .c-tag_black オススメ
                .c-tag_blue 限定品
                .c-tag_black 新入荷
                .c-tag_black 値下げしました
                .c-tag_black 送料無料
            a.c-subAction(href='#')
                i.fa.fa-plus-square-o
                span.c-subAction_text すべてのタグを表示
            a.c-tagBtn(href='#') タグの追加・編集

block conversionArea
    +b.c-conversionArea
        +e.container
            span 公開
            span 更新