@import "../library/_variable";

.c-search {
  &Form {
    width: 240px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  &Btn {
    margin-bottom: 10px;
    width: 37px;
    height: 37px;
    border-radius: 4px;
    background-color: #f9f9f9;
    border: 0;
    color: $blueBayoux;
    cursor: pointer;
  }
}

.c-category {
  margin-bottom: 10px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: scroll;
  padding: 10px;
  &Layer2 {
    margin-left: 10px;
  }
  &Layer3 {
    margin-left: 20px;
  }
  &Btn {
    display: block;
    border-radius: 4px;
    border: 1px solid #696969;
    padding: 10px;
    color: #696969;
    text-decoration: none;
    text-align: center;
  }
}