@import "../library/_variable";

.c-block {
  &__search {
    width: 240px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  &__searchBtn {
    margin-left: 5px;
    margin-bottom: 10px;
    width: 37px;
    height: 37px;
    border-radius: 4px;
    background-color: #f9f9f9;
    border: 0;
    color: $blueBayoux;
    cursor: pointer;
  }
  &__categories {
    margin-bottom: 10px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: scroll;
    padding: 10px;
  }
  &__categoryLayer2 {
    margin-left: 10px;
  }
  &__categoryLayer3 {
    margin-left: 20px;
  }
  &__addAndEdit {
    display: block;
    border-radius: 4px;
    border: 1px solid #696969;
    padding: 10px;
    color: #696969;
    text-decoration: none;
    text-align: center;
  }
}